<head>
    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>


    {{ "<!-- mobile responsive meta -->" | safeHTML }}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="description" 
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}">

    {{ "<!-- canonical url -->" | safeHTML }}
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ "<!-- social sharing -->" | safeHTML }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ partial "favicon.html" . }}

    {{ "<!-- google analytics -->" | safeHTML }}
    {{ if not (in (string .Site.BaseURL) "localhost") }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}

</head>